.div {float:left;}

/* Desktop browsers */ 
@media only screen and (min-device-width : 480px) { .select-editable { position:relative; background-color:white; border:solid grey 1px; width:260px; height:18px; } }
@media only screen and (min-device-width : 480px) { .select-editable select { position:absolute; top:0px; left:0px; border:none; width:260px; margin:0; font-size: 14px; } }
@media only screen and (min-device-width : 480px) { .select-editable input { position:absolute; top:0px; left:0px; width:240px; padding:1px; border:none; font-size: 12px; height:16px; } }
@media only screen and (min-device-width : 480px) { .select-editable select:focus, .select-editable input:focus { outline:none; } }

/* Mobile browsers */ 
@media only screen and (max-device-width : 479px) { .select-editable { position:relative; background-color:white; border:solid grey 1px; width:200px; height:48px; } }
@media only screen and (max-device-width : 479px) { .select-editable select { position:absolute; top:0px; left:0px; border:none; width:210px; margin:0; font-size: 12px; height:46px; } }
@media only screen and (max-device-width : 479px) { .select-editable input { position:absolute; top:0px; left:0px; width:180px; padding:1px; border:none; font-size: 12px; height:46px; } }
@media only screen and (max-device-width : 479px) { .select-editable select:focus, .select-editable input:focus { outline:none; } }


.btn { padding: 1em; float:left; }

.ActivityInput { width: 80%; }

#ActivityHistory { width: 100%; }
/*table { width: 100%; }*/

table.activity-history {
	width: 100%;
	border-collapse: collapse;
}

.ControlBotten {
	display: inline-block;
	text-align: center;
}

.TimeBoxTitle { font-size: 8px; }

.TimeBox { 
	border-style: ridge;
	border-width: 2px;
	background: #00FF00;	
	padding: 0em 2em 0em 2em;
	float:left;
}

.TimeBoxSpread {
	padding: 1px 20px 1px 20px;
	float:left;
}

.Jimebox { 
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 100px; 
}

table.activity-history td {
	border: 1px solid black;
	padding: 0px;
	text-align: left;
}

tr.highlight-off { background-color: white;	color: #868484; }
td.highlight-off { background-color: white;	color: #868484; }

tr.highlight-low { background-color: #FFF6CE; }
td.highlight-low { background-color: #FFF6CE; }

tr.highlight-high { background-color: #B3FFB4; }
td.highlight-high { background-color: #B3FFB4; }


