@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { body { font-size: 200%; }}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { input[type=text] { font-size: 160%; }}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { SELECT { font-size: 160%; }}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) { input[type=button] { font-size: 160%; }}

