body { margin: 20px; padding: 0px; background: #C9D7E4; font: 16px arial, sans-serif; }
pre {text-indent: 30px}
table td { padding: 50px; }
#tabmenu { color: #000; border-bottom: 2px solid black; margin: 12px 0px 0px 0px; padding: 0px; z-index: 1; padding-left: 10px }
#tabmenu li { display: inline; overflow: hidden; list-style-type: none; }
#tabmenu a, a.active { color: #DEDECF; background: #898B5E; font: bold 1em "Trebuchet MS", Arial, sans-serif; border: 2px solid black; padding: 2px 5px 0px 5px; margin: 0; text-decoration: none; }
#tabmenu a.active { background: #DDFAE9; border-bottom: 3px solid #DDFAE9; }
#tabmenu a:hover { color: #fff; background: #ADC09F; }
#tabmenu a:visited { color: #E8E9BE; }
#tabmenu a.active:hover { background: #DDFAE9; color: #DEDECF; }
#content {font: 0.9em/1.3em "bitstream vera sans", verdana, sans-serif; text-align: justify; background: #DDFAE9; padding: 5px; border: 2px solid black; border-top: none; z-index: 2;  }
#content a:hover { background: #D5E6FF; }
.tabcontent{ padding:10px 10px 10px 10px; border:1px solid #000; position:relitive; display:none; margin:0; }